@import "fonts";

$ffOS: "Open Sans", sans-serif;
$ffOswald: "Oswald", sans-serif;
$accent-color: #f7654a;
$dark-color: #404149;
$gray-color: #999999;
$white-color: #ffffff;
$background-color: #e5e5e5;

body {
  font-family: $ffOswald;
  font-weight: 400;
}

// Styles for text
.text-h2 {
  font-family: $ffOswald;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: $ffOswald;
  font-weight: 500;
  font-size: 24px;
}

.text-h4 {
  font-family: $ffOswald;
  font-weight: 500;
  font-size: 21px;
}

.text-p {
  font-family: $ffOS;
  font-weight: 400;
  font-size: 16px;
}

.text-p-reviews {
  font-family: $ffOS;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.header {
  min-height: 740px;
  background-image: url(../img/first-scrin-bg.jpg);
  .container {
    max-width: 1100px;
    margin: 0 auto;
    .header__title {
      .logo {
        .button {
          .burger__line {
          }
        }
      }
    }
    .main-title {
    }
    .main-title__desc {
    }
  }
}
